$color-grey-primary: #3f3f49;
$color-grey-secondary-rgba: rgba(73, 75, 70, 0.5);
$color-grey-secondary: #494b46;
$color-greyish-primary: #b5b5b5;
$color-mango-90: rgba(255, 190, 49, 0.9);
$color-white-primary: #fff;
$color-cerulean-primary: #0079c5;
$color-darkskyblue-ternary: #2d97e7;
$color-yellow-primary: #f2ae39;
$color-yellow-one: #da9827;
$color-red-primary: #f40100;
$color-light-red-rgba-primary: #ffcdcf;
$color-light-red-primary: #ef3332;
$color-yellow-secondary: #ffd244;
$color-yellow-ternary: #ffaa19;
$color-grey-ternary: #80827c;
$color-black-rgba-primary: rgba(0, 0, 0, 0.03);
$color-black-secondary: #eeeeee;
$color-lightgrey-primary: #f5f5f5;
$color-darkblue-secondary: #0177b5;
$color-darkskyblue-secondary: #2879bf;
$color-duck-egg-blue-primary: #eaf4fc;
$color-lightgrey-secondary: #ededec;
$color-black-primary: #222222;
$color-dark-black-primary: #000000;
